.container-main-style {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}
.card{
    max-width: 1000px;
    margin: auto ;
}

.card-body {
    width: 100%;
    padding: 54px !important;
}
.card-style {
    margin: auto;
}
.input-style{
    width: 70% !important;
}
.label-style{
    width: 25%;
    display: flex;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
}

.header-style{
    background-color: #D9D9D9;
    text-align: center;
    max-width: 2500px;
    margin: auto;
}
.header-style img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.header-style h1 {
    font-style: normal;
    font-weight: 700;
}

.footer-style {
    background: #D9D9D9;
    height: 45px;
    max-width: 2500px;
}

.footer-style p {
    font-size: 12px;
}

.all-content{
    max-width: 2500px;
    min-width: 280px;
    margin: auto;
    height: 100vh;
}
.label-form-style {
    align-items: center;
}