/* Reset de estilos */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
    color: black; 
}

.all-content{
    max-width: 2500px;
    min-width: 280px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.gear-style{
    background-color: rgb(235, 77, 77);
    padding: 20px;
    border-radius: 50%;
}

.custom-padding {
    padding-top: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px;
    box-sizing: border-box;
    padding-bottom: 0px;
}
.img-info p {
    font-size: 30px;
}

.imagem {
    border-right: 2px solid rgb(248, 124, 124);
    border-bottom: 2px solid rgb(248, 124, 124);
    border-radius: 5%;
    background-color: rgb(209, 207, 207);
    min-width: 130px;
    background: linear-gradient(310deg, rgb(209, 207, 207) 40%,rgb(235, 77, 77));
}

.info {
    background-color: rgb(231, 230, 230);
    border: 2px solid rgb(248, 124, 124);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.info-textos {
    font-size: 30px;
    font-weight: bold;
    width: 70%;
}
.info-textos hr{
   margin-bottom: 0px;
}
.img-info{
    width: 30%;
}
.img-info img {
    height: 80px;
}
.imagens-row-style {
    flex-wrap: wrap;
}

#suporte {
    border-bottom: 5px solid rgb(248, 124, 124);
    border-right: 5px solid rgb(248, 124, 124);
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 18px;
    max-width: fit-content;
}
.btn-custom {
    background-color: rgb(235, 77, 77);
    color: white;
    margin-top: 15px;
    width: 100%;
    max-width: 150px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.btn-custom:hover {
    background-color: rgb(235, 77, 77);
}

.header-style{
    background-color: black;
    text-align: center;
    max-width: 2500px;
}
.header-style h1 {
    font-style: normal;
    font-weight: 700;
}

.footer-style {
    background: black;
    height: 45px;
    max-width: 2500px;
}

.footer-style p {
    font-size: 12px;
}

#fotoUser {
    width: 120px;
    height: 90px;
}
