
@media screen and (min-width: 360px) and (max-width: 576px){
    .card-opniao {
        font-size: 14px;
    }
    .sobre-nos-banner {
        border-radius: 30px;
    }
    .texto-sobrenos{
        font-size: 14px;
        font-weight: bold;
    }
    .card-solucao {
        flex-direction: row;
    }
    .card-solucao img {
        height: 100%;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .card-opniao {
        font-size: 14px;
    }
    .card-solucao {
        flex-direction: row;
    }
    .sobre-nos {
        height: 400px;
    }
    .sobre-nos-banner {
        border-radius: 30px;
        height: 220px;
    }
    .texto-sobrenos{
        font-size: 16px;
        font-weight: normal;
    }
    .text-motivacional {
        position: absolute;
        left: 30px;
        top: 80px;
        font-size: large;
    }
    .coment-area button {
        width: 70px;
        height: 40px;
        padding: 3px;
    
    }
    .comentario-input {
        width: 100%;
        /* height: 40px; */
    }
    .card-solucao {
        height: 60px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
    }
    .card-solucao img {
        height: 100%;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .card-solucao img {
        height: 100%;
    }
    
    .card-solucao {
        flex-direction: row;
    }
    .sobre-nos {
        height: 450px;
    }
    .sobre-nos-banner {
        border-radius: 30px;
        height: 280px;
        width: 700px;
    }
    .texto-sobrenos{
        font-size: 18px;
        font-weight: normal;
    }
    .text-motivacional {
        position: absolute;
        left: 50px;
        top: 100px;
        font-size: 25px;
    }
    .coment-area button {
        width: 70px;
        height: 40px;
        padding: 3px;
    
    }
    .comentario-input {
        width: 700px;
        height: 40px;
    }
    .card-solucao {
        height: 60px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
    }
    
    .all-cards-solucao {
        height: 450px;
        width: 700px;
        box-sizing: border-box;
    }
    .card-opniao {
        border-radius: 50px;
        font-size: 18px;
        width: 700px;
    }
    .card-opniao img {
        height: 60%;
    }
    
    .all-cards-opniao {
        width: 800px;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .card-solucao img {
        height: 100%;
    }
    
    .card-solucao {
        flex-direction: row;
    }

    .sobre-nos {
        height: 450px;
    }
    .sobre-nos-banner {
        border-radius: 30px;
        height: 280px;
        width: 700px;
    }
    .texto-sobrenos{
        font-size: 18px;
        font-weight: normal;
        color: white;
    }
    .text-motivacional {
        position: absolute;
        left: 70px;
        top: 130px;
        font-size: 30px;
    }
    .coment-area button {
        color: white;
        width: 70px;
        height: 40px;
        padding: 3px;
    
    }
    .comentario-input {
        width: 700px;
        height: 50px;
    }
    .card-solucao {
        height: 60px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
    }
    .all-cards-solucao {
        height: 450px;
        width: 700px;
        box-sizing: border-box;
    }
    .card-opniao {
        border-radius: 50px;
        font-size: 18px;
        width: 700px;
    }
    .card-opniao img {
        height: 60%;
    }
    
    .all-cards-opniao {
        width: 800px;
        /* height: 450px; */
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1200px){
    .card-solucao img {
    height: 100%;
}

    .card-solucao {
        flex-direction: row;
    }

    .sobre-nos {
        height: 550px;
    }
    .sobre-nos-banner {
        border-radius: 30px;
        height: 380px;
        width: 700px;
    }
    .texto-sobrenos{
        font-size: 20px;
        font-weight: normal;
        color: white;
    }
    .text-motivacional {
        position: absolute;
        left: 150px;
        top: 250px;
        font-size: 30px;
    }
    .coment-area button {
        color: white;
        width: 80px;
        height: 50px;
        padding: 3px;
    
    }
    .comentario-input {
        width: 800px;
        height: 50px;
    }
    .card-solucao {
        height: 80px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
    }
    .all-cards-solucao {
        height: 550px;
        width: 900px;
        box-sizing: border-box;
    }
    .card-opniao {
        border-radius: 50px;
        font-size: 18px;
        /* width: 800px; */
    }
    .card-opniao img {
        height: 60%;
    }
    
    .all-cards-opniao {
        width: 900px;
        /* height: 450px; */
        box-sizing: border-box;
    }
}

@media screen and (max-width:360px){

    .header-style img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .header-style h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
    
    }
}