* {
    margin: 0px;
    padding: 0px;
    font-family: Bahnschrift;
}
.header-style{
    background-color: black;
    color:white;
    text-align: center;
    max-width: 2500px;
    margin: auto;
}
.header-style img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.header-style h1 {
    color: white;
    font-style: normal;
    font-weight: 700;

}
.header-links:hover {
    color: rgb(235, 77, 77) !important;
}

.navbar-style {
    height: 50px;
    text-decoration: none;
    border-bottom: 6px solid rgb(248, 124, 124);
}

.navbar-style button {
    background-color: rgb(235, 77, 77);
    color: white;
    width: 80px;
    height: 35px;
}
.navbar-style button:hover{
    background-color: rgb(235, 77, 77);
    color: black;
}

.first-area-style {
    overflow: hidden;
}

.text-motivacional {
    position: absolute;
    left: 20px;
    top: 50px;
    font-size:  small;
}
#solucao {
    font-weight: bolder;
    color: black;
}
.card-solucao {
    background: linear-gradient(160deg, rgb(235, 77, 77), white 70%);
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;

}
.card-solucao img {
    height: 70%;
}
.all-cards-solucao {
    width: 800px;
    box-sizing: border-box;
}

.sobre-nos {
    background-color: rgb(248, 124, 124);
    padding-bottom: 30px;
    color: white;
    font-weight: bolder;
}
.sobre-nos-banner {
    background-color: rgb(248, 124, 124);
    border-radius: 30px;
}
.texto-sobrenos{
    font-size: 14px;
    font-weight: normal;
    color: black;
}

#opiniao {
    font-weight: bolder;
    color: black;
}
.card-opniao {
    background: linear-gradient(160deg, white 70%);
    border-radius: 50px;
    font-size: 12px;
    width: 100%;
    border: 3px solid rgb(248, 124, 124);
}
.card-opniao img {
    border: 2px solid rgb(248, 124, 124);
    height: 40%;
    border-radius: 50%;
}

.all-cards-opniao {
    width: 400px;
    box-sizing: border-box;
}

#Feedback {
    font-weight: bolder;
    color: black;
}

.comentario-input {
    width: 100%;
}

.coment-area button {
    background-color: rgb(235, 77, 77);
    color: white;
    width: 60px;
    height: 30px;
    padding: 3px;

}

.coment-area button:hover {
    background-color: rgb(235, 77, 77);
}

.footer-style {
    background: black;
    color:white;
    height: 45px;
    max-width: 2500px;

}

.footer-style p {
    font-size: 12px;
}

.all-content {
    max-width: 2500px;
    min-width: 280px;
    margin: auto;
    
}

body {
    min-width: 280px;
}

.nav-header-style li{
    list-style: none;
}