/* Reset de estilos */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
#sono {
  height: 100px;
  max-width: 100%;
}
#sono a,img {
  height: 100%;
}
.dropdownX {
  height: 40px;
  width: 100px;
}

.resultado {
  flex: 4;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.parametro {
  flex-direction: column;
  text-align: justify;
  padding: 5px;
  margin: 7px;
}


/* Estilos do contêiner principal de conteúdo */
#conteudo {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  padding: 45px;
  flex-wrap: wrap;
  justify-content: center;
}

#despertador {
  flex-direction: column;
  padding: 10px;
  border: 1px solid #FF0000;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  
}

/* Estilos dos campos de entrada e rótulos */
.campo-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.campo-input label {
  font-size: 20px;
  margin-right: 10px;
  width: 15%;
}

.campo-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
}

#frequencia {
  text-align: center;
  flex: 4;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #FF0000;
  border-radius: 10px;
  background-color: white;
}

#frequencia img {
  flex: 50;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
}

.botoes {
  background-color: red;
  justify-content: center;
  color: black;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  width: fit-content;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.botoes:hover {
  background-color: red;
  color: black;
}

.header-style {
  background-color: black;
  color:white;
  text-align: center;
  max-width: 2500px;
}

.header-style h1 {
  font-style: normal;
  font-weight: 700;
}

.footer-style {
  background:black;
    color:white;
    max-width: 2500px;
    padding: 15px;
    position: fixed;
}

.footer-style p {
  font-size: 12px;

}

.all-content {
  max-width: 2500px;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}