/* Reset de estilos */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
#sono {
  height: 100px;
  max-width: 100%;
}
#sono a,img {
  height: 100%;
}
.dropdownX {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  padding: 0px 5px;
  border: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.dropdownX:focus {
  outline: none;
}

.resultado {
  flex: 4;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;

}

.parametro {
  flex-direction: column;
  text-align: justify;
  padding: 5px;
  margin: 7px;
}


/* Estilos do contêiner principal de conteúdo */
#conteudo {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  padding: 45px;
  flex-wrap: wrap;
  justify-content: center;
}

#despertador {
  flex-direction: column;
  padding: 10px;
  border-right: 6px solid rgb(248, 124, 124);
  border-bottom: 6px solid rgb(248, 124, 124);
  border-radius: 10px;
  background: linear-gradient(140deg,white 20%,rgb(170, 169, 169));
  text-align: center;
  
}

/* Estilos dos campos de entrada e rótulos */
.campo-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.campo-input label {
  font-size: 20px;
  margin-right: 10px;
  width: 25%;
}

.campo-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
}

#frequencia {
  text-align: center;
  flex: 4;
  flex-direction: column;
  padding: 10px;
  border-right: 6px solid rgb(248, 124, 124);
  border-bottom: 6px solid rgb(248, 124, 124);
  border-radius: 10px;
  background: linear-gradient(140deg,white 20%,rgb(170, 169, 169));
}

#frequencia img {
  flex: 50;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
}

.botoes {
  background-color: rgb(235, 77, 77) !important;
  color: white !important;
}

.botoes:hover {
  background-color: rgb(235, 77, 77) !important;
  color: black !important;
}

.header-style {
  background-color: black;
  color:white;
  text-align: center;
  max-width: 2500px;
}

.header-style h1 {
  font-style: normal;
  font-weight: 700;
}

.footer-style {
  background:black;
    color:white;
    max-width: 2500px;
    padding: 15px;
}

.footer-style p {
  font-size: 12px;

}

.all-content{
  max-width: 2500px;
  min-width: 400px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

