@media screen and (min-width: 360px) and (max-width: 576px) {
    .container_config {
        width: 350px;
        margin-bottom: 30px;
    }
    .botoes {
        margin-top: 10px;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container_config {
        width: 450px;
        margin-bottom: 30px;
    }
    .botoes {
        margin-top: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1125px) {
    .container_config {
        width: 330px;
        margin-bottom: 10px;
    }
    .botoes {
        margin-top: 10px;
    }

}

@media screen and (min-width: 1126px) and (max-width: 1300px) {
    .container_config {
        width: 350px;
    }

    .botoes {
        margin-top: 10px;
    }

}

@media screen and (min-width: 1301px) {
    .container_config {
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width:360px) {
    .container_config {
        width: 350px;
        margin-bottom: 30px;
    }
    .botoes {
        margin-top: 10px;
    }

}