* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    /* font-family: ; */
}

body {
    width: 100%;
    min-height: 100vh;
    
}

/* Estilos do contêiner principal de conteúdo */
#conteudo {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    padding: 45px;
    flex-wrap: wrap;
}

/* Estilos do contêiner de dados */
#dados {
    flex: 1;
    flex-direction: column;
    padding: 10px;
    padding-right: 30px;
    color:black; 
    border-bottom: 5px solid rgb(248, 124, 124);
    border-right: 5px solid rgb(248, 124, 124);
    border-radius: 10px;
    margin-right: 10px;
    background: linear-gradient(140deg,white 20%,rgb(170, 169, 169));
    text-align: center;
}

/* Estilos do contêiner de receita */
#receita {
    flex: 4;
    flex-direction: column;
    padding: 10px;
    color:black;
    border-bottom: 5px solid rgb(248, 124, 124);
    border-right: 5px solid rgb(248, 124, 124);
    border-radius: 10px;
    background: linear-gradient(140deg,white 20%,rgb(170, 169, 169));
    max-width: 100%;
    min-width: 388px;
}

/* Estilos dos campos de entrada e rótulos */
.campo-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.campo-input label {
    flex: 1;
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
}
.campo-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-blend-mode: color-burn;
}

.campo-input input:focus {
    outline: none;
}

#alimento{
    height: 100px;
}
#alimento img, a {
    height: 100%;
}
.header-style{
    background-color: black;
    color:white;
    text-align: center;
    max-width: 2500px;
}
.header-style h1 {
    font-style: normal;
    font-weight: 700;
}

.footer-style {
    background:black;
    color:white;
    max-width: 2500px;
    padding: 15px;
}

.footer-style p {
    font-size: 12px;
}

.all-content{
    max-width: 2500px;
    min-width: 280px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.img-receita-style{
    max-width: 435px;
}

.btn{
    background-color: rgb(235, 77, 77) !important;
    color: white !important;
}
.btn:hover{
background-color: rgb(235, 77, 77) !important;
color: black !important;
}

#calorias,
#carboidratos,
#proteina,
#gorduras {
    border-radius: 20px;
}