* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    /* font-family: ; */
}

body {
    width: 100%;
    min-height: 100vh;

}

/* Estilos do contêiner principal de conteúdo */
#conteudo {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    padding: 45px;
    flex-wrap: wrap;
}

/* Estilos do contêiner de dados */
#dados {
    flex: 1;
    flex-direction: column;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #FF0000;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #D9D9D9;
    text-align: center;
}

/* Estilos do contêiner de receita */
#receita {
    flex: 4;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #FF0000;
    border-radius: 10px;
    background-color: #D9D9D9;
    max-width: 100%;
    min-width: 388px;
}

/* Estilos dos campos de entrada e rótulos */
.campo-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.campo-input label {
    flex: 1;
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
}
.campo-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

#alimento{
    height: 100px;
}
#alimento img {
    height: 100%;
}
.header-style{
    background-color: #D9D9D9;
    text-align: center;
    max-width: 2500px;
}
.header-style h1 {
    font-style: normal;
    font-weight: 700;
}

.footer-style {
    background: #D9D9D9;
    max-width: 2500px;
    padding: 15px;
}

.footer-style p {
    font-size: 12px;
}

.all-content{
    max-width: 2500px;
    min-width: 280px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}