/* Estilos responsivos para telas menores */
@media (max-width: 500px) {
    #conteudo, #alimento, #despertador, #frequencia, .resultado, .parametro {
      max-width: 100%;
      float: none; 
    }
      .campo-input label {
          font-size: 20px;
      }
      .campo-input input {
          width: 100%;
      }
  
    .receita-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px; 
    }
  
    .imagem-receita img {
        height: 10%; 
        max-width: 20px;
        margin-right: 20px; 
    }
  
    .texto-receita {
        flex: 1; 
    }
  
    
  }