/* Estilos responsivos para telas menores */
@media (max-width: 500px) {
    #conteudo, #alimento, #despertador, #frequencia, .resultado, .parametro {
      max-width: 100%;
      float: none; 
    }
      .campo-input label {
          font-size: 20px;
      }
      .campo-input input {
          width: 100%;
      }
  
    .receita-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px; 
    }
  
    .imagem-receita img {
        height: 10%; 
        max-width: 20px;
        margin-right: 20px; 
    }
  
    .texto-receita {
        flex: 1; 
    }
    #receita{
        min-width: 300px !important;
        }
    
  }

@media (max-width: 856px){
#receita {
    margin-right: 10px;
}
#dados {
    margin-bottom: 20px;
}
.campo-input label {
    text-align: center;
}
#receita {
    width: 100%;
    min-width: 378px;
    min-height: 280px;
}
}
@media (max-width: 648px){
    #receita{
    min-height: 280px;
    min-width: 180px;
    }
}
@media screen and (max-width:400px){
    #receita{
        min-width: 160px !important;
        font-size: 16px;
    }
    #receita h2{

        font-size: 20px;
    }
    #receita h3{

        font-size: 18px;
    }
    #dados {
        font-size: 12px;
        padding-right: 10px;
    }
    .campo-input {
        flex-direction: column;
    }
}